<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rbac.dao.DepartmentDao" >
    <resultMap id="DepartmentResultMap" type="com.rbac.entity.Department" >
        <id column="dept_id" property="deptId" jdbcType="BIGINT"/>
        <result column="dept_name" property="deptName" jdbcType="VARCHAR"/>
        <result column="dept_status" property="deptStatus" jdbcType="TINYINT"/>
        <result column="is_leaf" property="isLeaf" jdbcType="SMALLINT"/>
        <result column="dept_level" property="deptLevel" jdbcType="SMALLINT"/>
        <result column="dept_seq" property="deptSEQ" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="addDepartment" parameterType="com.rbac.entity.Department">
        insert into department (dept_id, dept_name, dept_status, is_leaf, dept_level, dept_seq, parent_id)
        VALUES (#{deptId}, #{deptName}, #{deptStatus}, #{isLeaf}, #{deptLevel}, #{deptSEQ}, #{parentId})
    </insert>

    <delete id="deleteDepartment" parameterType="java.lang.Long">
        delete from department where dept_id = #{deptId}
    </delete>

    <update id="updateDepartment" parameterType="com.rbac.entity.Department">
        update department
        set dept_name = #{deptName},
            dept_status = #{deptStatus},
            is_leaf = #{isLeaf},
            dept_level = #{deptLevel},
            dept_seq = #{deptSEQ},
            parent_id = #{parentId}
        where dept_id = #{deptId}
    </update>

    <select id="selectById" parameterType="java.lang.String">
        select dept_id, dept_name, dept_status, is_leaf, dept_level, dept_seq, parent_id
        from department
        where dept_id = #{deptId}
    </select>

    <select id="selectByName" parameterType="java.lang.String">
        select dept_id, dept_name, dept_status, is_leaf, dept_level, dept_seq, parent_id
        from department
        where dept_name = #{deptName}
    </select>

    <select id="selectAllDepartments" resultMap="DepartmentResultMap">
        select dept_id, dept_name
        from department
        where dept_status = 1
    </select>

</mapper>
