<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/layui.css"  media="all">

    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div class="layui-main" style="width: 400px;height: 200px; margin-top: 50px;">
    <form class="layui-form" action="" lay-filter="editRoleForm">
        <div class="layui-form-item">
            <label class="layui-form-label">角色ID：</label>
            <div class="layui-input-inline">
                <input type="text" id="roleId" name="roleId" lay-verify="roleId"
                       autocomplete="off" class="layui-input" disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">角色代码：</label>
            <div class="layui-input-inline">
                <input type="text" id="roleCode" name="roleCode" lay-verify="roleCode"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">角色名称：</label>
            <div class="layui-input-inline">
                <input type="text" id="roleName" name="roleName" lay-verify="roleName"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-inline">
                <input type="text" id="roleDesc" name="roleDesc" lay-verify="roleDesc"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-block">
                <input type="checkbox" checked="" id="roleStatus" name="roleStatus" lay-verify="roleStatus"
                       lay-skin="switch" lay-filter="switchTest" lay-text="正常|禁用" value="1">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <!--<button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-setval">赋值</button>
                <button type="button" class="layui-btn layui-btn-normal" id="LAY-component-form-getval">取值</button>-->
                <input type="button" class="layui-btn" lay-submit lay-filter="editRole" value="提交">
                <button type="button" class="layui-btn" onclick="closeWindow()">关闭</button>
            </div>
        </div>
    </form>
</div>



<script src="../static/layui.js" charset="utf-8"></script>
<script src="../static/jquery-3.3.1.min.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'jquery'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,$ = layui.$;

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.tips('温馨提示：正常状态用户可以登录系统，禁用状态用户暂时不可登录系统', data.othis)
        });

        //自定义验证规则
        form.verify({
            roleName: function(value){
                if(value.length == 0){
                    return '请输入姓名！';
                }
            }
        });

        // //监听提交
        form.on('submit(editRole)', function(formData){
            let data = formData.field;
            // data.role = getCheckBoxValue();
//            $.ajax({
//                type: "post",
//                url: "/account/roleAccount",
//                data:JSON.stringify(data),
//                dataType: "json",
//                contentType: "application/json; charset=utf-8",
//                success: function (result) {
//                    if (result == 1){
//                        alert("新增成功");
//                        parent.location.reload();//刷新父页面
//                        //parent.layui.table.reload('accountTable');
//                    }else{
//                        alert("新增失败!");
//                        parent.location.reload();//刷新父页面
//                        // parent.layui.table.reload('accountTable');
//                    }
//                },
//                error: function (jqXHR, textStatus, errorThrown) {
//                    layer.msg("新增失败!");
//                    parent.location.reload();//刷新父页面
//                    // parent.layui.table.reload('accountTable');
//                }
//            });
//            closeWindow();
        });

        // 页面初始化赋值
        $().ready(function(){
            console.log(parent.roleEditData);
            $("#roleId").val(parent.roleEditData.roleId);
            $("#roleCode").val(parent.roleEditData.roleCode);
            $("#roleName").val(parent.roleEditData.roleName);
            $("#roleDesc").val(parent.roleEditData.roleDesc);
            if (parent.roleEditData.roleStatus != 1){
                $("#roleStatus").removeAttr("checked");
            }
            form.render();
        });

    });

    function closeWindow() {
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);
    }
</script>

</body>
</html>